In [1]:
import numpy as np
import pandas as pd

In [8]:
df = pd.read_csv("customer.csv")

In [9]:
df.sample(5)

    age  gender   review education purchased
0    30  Female  Average    School        No
43   27    Male     Poor        PG        No
49   25  Female     Good        UG        No
38   45  Female     Good    School        No
19   97    Male     Poor        PG       Yes

In [10]:
df = df.iloc[:,2:]

In [12]:
df.head()

    review education purchased
0  Average    School        No
1     Poor        UG        No
2     Good        PG        No
3     Good        PG        No
4  Average        UG        No

In [13]:
from sklearn.model_selection import train_test_split

In [16]:
X_train, X_test, y_train, y_test = train_test_split(
    df.drop("purchased",axis=1), df.purchased,test_size=0.2, random_state=1)

In [18]:
X_test.head()

   review education
27   Poor        PG
35   Poor    School
40   Good    School
38   Good    School
2    Good        PG

In [19]:
X_train.head()

     review education
32  Average        UG
39     Poor        PG
21  Average        PG
36     Good        UG
19     Poor        PG

In [20]:
from sklearn.preprocessing import OrdinalEncoder

In [24]:
oe = OrdinalEncoder(categories=[['Poor','Average','Good'],['School','UG','PG']])

In [22]:
df.review.value_counts()

Poor       18
Good       18
Average    14
Name: review, dtype: int64

In [23]:
df.education.value_counts()

PG        18
School    16
UG        16
Name: education, dtype: int64

In [25]:
X_train = oe.fit_transform(X_train)

In [26]:
X_test = oe.transform(X_test)

In [28]:
X_train

array([[1., 1.],
       [0., 2.],
       [1., 2.],
       [2., 1.],
       [0., 2.],
       [2., 2.],
       [2., 1.],
       [0., 2.],
       [0., 2.],
       [1., 0.],
       [2., 2.],
       [0., 1.],
       [0., 2.],
       [1., 2.],
       [2., 0.],
       [1., 1.],
       [2., 2.],
       [0., 2.],
       [1., 1.],
       [2., 1.],
       [0., 0.],
       [1., 1.],
       [1., 0.],
       [2., 0.],
       [1., 0.],
       [2., 0.],
       [2., 0.],
       [0., 0.],
       [2., 2.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [2., 1.],
       [2., 1.],
       [1., 1.],
       [0., 0.],
       [0., 2.],
       [1., 2.]])

In [30]:
oe.categories_

[array(['Poor', 'Average', 'Good'], dtype=object),
 array(['School', 'UG', 'PG'], dtype=object)]

In [31]:
oe.feature_names_in_

array(['review', 'education'], dtype=object)

In [34]:
oe.get_params()

{'categories': [['Poor', 'Average', 'Good'], ['School', 'UG', 'PG']],
 'dtype': numpy.float64,
 'handle_unknown': 'error',
 'unknown_value': None}

In [36]:
oe.inverse_transform(X_train)

array([['Average', 'UG'],
       ['Poor', 'PG'],
       ['Average', 'PG'],
       ['Good', 'UG'],
       ['Poor', 'PG'],
       ['Good', 'PG'],
       ['Good', 'UG'],
       ['Poor', 'PG'],
       ['Poor', 'PG'],
       ['Average', 'School'],
       ['Good', 'PG'],
       ['Poor', 'UG'],
       ['Poor', 'PG'],
       ['Average', 'PG'],
       ['Good', 'School'],
       ['Average', 'UG'],
       ['Good', 'PG'],
       ['Poor', 'PG'],
       ['Average', 'UG'],
       ['Good', 'UG'],
       ['Poor', 'School'],
       ['Average', 'UG'],
       ['Average', 'School'],
       ['Good', 'School'],
       ['Average', 'School'],
       ['Good', 'School'],
       ['Good', 'School'],
       ['Poor', 'School'],
       ['Good', 'PG'],
       ['Poor', 'UG'],
       ['Poor', 'UG'],
       ['Average', 'School'],
       ['Poor', 'UG'],
       ['Average', 'School'],
       ['Good', 'UG'],
       ['Good', 'UG'],
       ['Average', 'UG'],
       ['Poor', 'School'],
       ['Poor', 'PG'],
       ['Average', 'PG']], dtype=object)

In [39]:
y_train.head()

32    Yes
39     No
21     No
36    Yes
19    Yes
Name: purchased, dtype: object

In [40]:
from sklearn.preprocessing import LabelEncoder

In [41]:
le = LabelEncoder()

In [43]:
y_train = le.fit_transform(y_train)

In [44]:
y_test = le.transform(y_test)

In [45]:
y_test

array([0, 1, 0, 0, 0, 0, 1, 1, 0, 1])

In [47]:
X_test.shape

(10, 2)

In [48]:
df.shape

(50, 3)