In [1]:
import numpy as np
import pandas as pd

from sklearn.model_selection import train_test_split

from sklearn.impute import MissingIndicator,SimpleImputer

In [2]:
df = pd.read_csv('titanic_train.csv',usecols=['Age','Fare','Survived'])

In [3]:
df.head()

   Survived   Age     Fare
0         0  22.0   7.2500
1         1  38.0  71.2833
2         1  26.0   7.9250
3         1  35.0  53.1000
4         0  35.0   8.0500

In [4]:
X = df.drop(columns=['Survived'])
y = df['Survived']

In [5]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=2)

In [6]:
X_train.head()

      Age     Fare
30   40.0  27.7208
10    4.0  16.7000
873  47.0   9.0000
182   9.0  31.3875
876  20.0   9.8458

In [7]:
si_1 = SimpleImputer()

In [9]:
X_train_si_1 = si_1.fit_transform(X_train)
X_test_si_1 = si_1.transform(X_test)

In [10]:
X_train_si_1

array([[ 40.        ,  27.7208    ],
       [  4.        ,  16.7       ],
       [ 47.        ,   9.        ],
       ...,
       [ 71.        ,  49.5042    ],
       [ 29.78590426, 221.7792    ],
       [ 29.78590426,  25.925     ]])

In [12]:
from sklearn.linear_model import LogisticRegression

clf = LogisticRegression()

clf.fit(X_train_si_1,y_train)

y_pred = clf.predict(X_test_si_1)

from sklearn.metrics import accuracy_score
accuracy_score(y_test,y_pred)

0.6145251396648045

In [13]:
mi = MissingIndicator()

In [14]:
mi.fit(X_train)

MissingIndicator()

In [15]:
mi.features_

array([0], dtype=int64)

In [17]:
X_train_missing = mi.transform(X_train)

In [19]:
# X_train_missing

In [20]:
X_train['Age_NA'] = X_train_missing

In [21]:
X_train

      Age      Fare  Age_NA
30   40.0   27.7208   False
10    4.0   16.7000   False
873  47.0    9.0000   False
182   9.0   31.3875   False
876  20.0    9.8458   False
..    ...       ...     ...
534  30.0    8.6625   False
584   NaN    8.7125    True
493  71.0   49.5042   False
527   NaN  221.7792    True
168   NaN   25.9250    True

[712 rows x 3 columns]

In [24]:
X_test_missing = mi.transform(X_test)

In [25]:
X_test['Age_NA'] = X_test_missing

In [27]:
X_test.head()

      Age     Fare  Age_NA
707  42.0  26.2875   False
37   21.0   8.0500   False
615  24.0  65.0000   False
169  28.0  56.4958   False
68   17.0   7.9250   False

In [28]:
si_2 = SimpleImputer()

In [29]:
X_train_si_2 = si_2.fit_transform(X_train)
X_test_si_2 = si_2.transform(X_test)

In [30]:
from sklearn.linear_model import LogisticRegression

clf = LogisticRegression()

clf.fit(X_train_si_2,y_train)

y_pred = clf.predict(X_test_si_2)

from sklearn.metrics import accuracy_score
accuracy_score(y_test,y_pred)

0.6312849162011173

In [74]:
si = SimpleImputer(strategy='median',add_indicator=True)

In [75]:
X = df.drop(columns=['Survived'])
y = df['Survived']

In [76]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=2)

In [77]:
X_train = si.fit_transform(X_train)

In [78]:
X_test = si.transform(X_test)

In [79]:
from sklearn.linear_model import LogisticRegression

clf = LogisticRegression()

clf.fit(X_train,y_train)

y_pred = clf.predict(X_test)

from sklearn.metrics import accuracy_score
accuracy_score(y_test,y_pred)

0.6312849162011173